* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    --background: rgb(6, 19, 12);
    --mainfont: rgb(151, 218, 145);
    --textfont: rgb(12, 92, 29);
}

.banner {
    display: inline-flex;
    background-color: var(--background);
    width: 100%;
    justify-content: space-between;
    height: fit-content;
}

.high-scores {
    background: none;
    border: none;
}

header h2, 
h3 {
    color: var(--mainfont);
    margin: 20px;
    padding: 20px;
    letter-spacing: 0.75px;
}

.main-container {
    display: inline-flex;
    width: 100%;
    background-image: url(./images/matrix.jpg);
    height: 1000px;
}

.quiz-container {
    width: 50%;
    margin: 50px auto;
    justify-content: flex-start;
    border: 2px solid var(--textfont);
    height: 400px;
    display: inline-flex;
    flex-direction: column;
    z-index: 1;
    background-color: var(--mainfont);
    border-radius: 10px;
}

h1 {
    color: var(--textfont);
    text-align: center;
    font-size: 2rem;
}

.start-button {
    margin: 20px auto;
    height: fit-content;
    border: 2px solid var(--background);
    font-size: 1.25rem;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 3px 5px grey;
    background-color: var(--mainfont);
    color: var(--textfont);
}

.start-button:hover {
    background-color: var(--background);
    color: var(--mainfont);
    box-shadow: 0px 3px 5px grey;
}

.start-button:active {
    background-color: var(--background);
    color: var(--mainfont);
    margin-top: 22px;
    box-shadow: none;  
}

.question-content {
    text-align: center;
    color: var(--textfont);
    font-size: 1.5rem;
    padding-top: 20px;
}

.answer-buttons {
    background-color: var(--background);
    color: var(--mainfont);
    text-align: center;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 3px 5px grey;
    width: 150px;
}

#answer-one {
    margin-top: 25px;
}

.answer-buttons:active {
    box-shadow: none;
    padding-top: 6px;
    padding-bottom: 4px;
}

.right-wrong {
    margin: auto;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: lighter;
    color: var(--background);
}

.final-score {
    margin: auto;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: lighter;
    color: var(--background);
}

.hide {
    display: none;
}